@import "/src/styles/common.css";

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-secondary);
}

.icon {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-right: 16px;
}

.section-active {
  color: var(--color-contrast);
}

.page {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 12px;
}

.page:hover,
.page-active {
  color: var(--color-accent);
  background-color: rgba(156, 155, 160, 0.1);
}
