@import "/src/styles/common.css";

.button {
  /* disable appearance */
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;

  /* common */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}

.button > *:first-child {
  margin-right: 8px;
}

.primary {
  color: var(--color-primary);
  background-color: var(--color-contrast);
}

.secondary {
  color: var(--color-contrast);
  background-color: var(--color-primary);
}

.ghost {
  background: transparent;
}

.ghost:hover {
  background: var(--color-secondary-light);
}

.sm {
  height: 32px;
  font-size: 14px;
}

.md {
  height: 44px;
  font-size: 16px;
}

.lg {
  height: 56px;
  font-size: 18px;
}
