.button {
  /* disable appearance */
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;

  /* common */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 32px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}

.button > *:first-child {
  margin-right: 8px;
}

.ghost {
  background: transparent;
}

.ghost:hover {
  background: #1b1a2010;
}
