@import "/src/styles/common.css";

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 12px;
  width: 181px;
  height: 181px;
  cursor: pointer;
}

.card:hover {
  border-color: var(--color-accent);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--color-contrast);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  box-sizing: border-box;
}

.card:hover .caption {
  color: var(--color-accent);
}
