.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 288px;
  padding: 24px 32px 24px 24px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
