.root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 100%;
}

.page {
  flex-grow: 1;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}
