.container {
  padding: 20px;
}

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 32px;
}

.code {
  margin-bottom: 64px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}
